# Add geo coordinates / ASN info / IP rep.
filter {
  if [src_ip]  {
    geoip {
      cache_size => 10000
      source => "src_ip"
      database => "{{ GeoLite2_City_location }}"
    }
    geoip {
      cache_size => 10000
      source => "src_ip"
      database => "{{ GeoLite2_ASN_location }}"
    }
    translate {
      refresh_interval => 86400
      field => "src_ip"
      destination => "ip_rep"
      dictionary_path => "/etc/listbot/iprep.yaml"
    }
  }
}
