# ElasticPot logs
output {
  if "ElasticPot" in [tags] and "fails" not in [tags] {
    elasticsearch {
      hosts => {{ logstash_elasticsearch_hosts | to_json }}
      manage_template => false
      index => "elasticpot-%{+YYYY.MM.dd}"
    }
  }
}
