# Glutton logs
output {
  if "Glutton" in [tags] and "fails" not in [tags] {
    elasticsearch {
      hosts => {{ logstash_elasticsearch_hosts | to_json }}
      manage_template => false
      index => "logstash-glutton-%{+YYYY.MM.dd}"
    }
  }
}
